.closeButtonCustom {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background: #121c33;
  border-radius: 8px;
  border: none;
  background-color: #121c330d;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    border: solid 1px #121c33;
  }
}
