.customButton {
  border-radius: 8px;
  padding: 12px 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  height: 48px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  // font
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    border: solid 1px #121c33;
  }
}
